.jumbotron .texto_pequeño p, #myModal p{
	font-size: 14px;
	text-align: justify;
}

.negrita{
	font-weight: bold;
}

.subrayado{
	text-decoration: underline;
}

.cursiva{
	font-style: italics;
}

.jumbotron h1.peq{
	font-size: 40px!important;
}


@media screen 
  and (max-width: 480px) 
  and (orientation: portrait) {

	a.navbar-brand{
		font-size: 0.9em;
	}

}


